* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #b1aff2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    display: flex;
    width: 100%;
    background-color: #b1aff2;
    border-radius: 5px;
    margin-bottom: 10px;
}

.left-head,
.center-head,
.right-head {
    width: 33.3%;
    padding: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
}

.right-head {
    display: flex;
    justify-content: end;
    gap: 15px;
    padding-right: 5px;
}

.center-head {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.left-head {
    display: flex;
    justify-content: start;
}

.main {
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 10px;
}

.line-top{
    width: 100px;
    height: 4px;
    background-color: #c5c5c5;
    margin-left: 160px;
    border-radius: 10px;
}

.active-container{
    display: flex;
}

.active-text ,.serach-btn {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 50%;
}

.serach-btn{
    display: flex;
    justify-content: end;
    padding-right: 15px;
}

.picture-container{
    padding: 5px;
    padding-top: 10px;
    display: flex;
    gap: 8px;
    overflow-x: auto;
}

.picture-container img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.time-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 5px;
}

.timer-container{
    margin-top: 10px;
    display: flex;
    background-color: #ededf1;
    width: 98%;
    height: 100px;
    border-radius: 10px;
}

.text-timer-left{
    display: flex;
    margin-bottom: 5px;
}

.text-timer-left img{
    border-radius: 50%;
}

.left-timer{
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px; 
}

.line-between{
    width: 4px;
    height: 50px;
    background-color: #c5c5c5;
    margin-left: 120px;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 50px;
}

.text-timer-right{
    display: flex;
    margin-bottom: 5px;
}

.text-timer-right img{
    border-radius: 50%;
}

.right-timer{
    padding-top: 30px;
    padding-bottom: 30px; 
}

.timeline-container{
    margin-top: 10px;
    overflow-x: auto;
}

.location-icon-1{
    display: flex;
    margin-top: 10px;
    opacity: 0.6;
}

.timeline-item-1{
    background-color: #ededf1;
    width: 98%;
    border-radius: 10px;
    display: flex;
    border-left: solid 8px #b1aff2;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center;
    margin: 16px 0;
}

.timeline-item-1-icon{
    margin-right: 16px;
}

.timeline-item-1-text{
    margin-left: 16px;
}

.location-icon-2{
    display: flex;
    margin-top: 10px;
    opacity: 0.6;
}

.timeline-item-2{
    background-color: #ededf1;
    width: 98%;
    border-radius: 10px;
    display: flex;
    border-left: solid 8px #dd7a7c;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center;
    margin: 16px 0;

}

.timeline-item-2-icon{
    margin-right: 16px;
}

.timeline-item-2-text{
    margin-left: 16px;
}

.location-icon-3{
    display: flex;
    margin-top: 10px;
    opacity: 0.6;
}

.timeline-item-3{
    background-color: #ededf1;
    width: 98%;
    border-radius: 10px;
    display: flex;
    border-left: solid 8px #b1aff2;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center;
    margin: 16px 0;

}

.timeline-item-3-icon{
    margin-right: 16px;
}

.timeline-item-3-text{
    margin-left: 16px;
}

.location-icon-4{
    display: flex;
    margin-top: 10px;
    opacity: 0.6;
}

.timeline-item-4{
    background-color: #ededf1;
    width: 98%;
    border-radius: 10px;
    display: flex;
    border-left: solid 8px #dd7a7c;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center;
    margin: 16px 0;

}

.timeline-item-4-icon{
    margin-right: 16px;
}

.timeline-item-4-text{
    margin-left: 16px;
}